<h1>{{course.name}}</h1>
<!-- <agm-map [latitude]="51.673858" [longitude]="7.815982"></agm-map> -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="detail-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="holes-tab" data-toggle="tab" href="#holes" role="tab" aria-controls="profile">Holes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="profile">Map</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- Details -->
  <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="detail-tab">
    <h3>General</h3>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="course.name" />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" id="name" [(ngModel)]="course.phone" />
    </div>
    <div class="form-group">
      <label for="addressLine1">Address Line 1</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="course.addressLine1" />
    </div>
    <div class="form-group">
      <label for="addressLine2">Address Line 2</label>
      <input type="text" class="form-control" id="addressLine2" [(ngModel)]="course.addressLine2" />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" [(ngModel)]="course.city" />
      </div>
      <div class="form-group col-md-4">
        <label for="stateProvince">State/Province</label>
        <input type="text" class="form-control" id="stateProvince" [(ngModel)]="course.stateProvinceId" />
      </div>
      <div class="form-group col-md-2">
        <label for="postalCode">Potal Code</label>
        <input type="text" class="form-control" id="postalCode" [(ngModel)]="course.postalCode" />
      </div>
    </div>
    <h3>Tees</h3>
    <div>Select the tees available for this course:</div>
    <div *ngFor="let teeType of teeTypes" class="form-check form-check-inline">
      <label class="form-check-label">
            <input type="checkbox" class="form-check-input" id="teeType" [(ngModel)]="teeType.selected" (ngModelChange)="onTeeTypeChange(teeType)" /> {{teeType.name}}
          </label>
    </div>
  </div>

  <!-- Holes  -->
  <div class="tab-pane" id="holes" role="tabpanel" aria-labelledby="holes-tab">
    <div class="card-columns">
      <div *ngFor="let hole of course.holes" class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Hole #{{hole.number}}</h4>

          <!-- men's -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="mensPar">Men's Par</label>
              <input type="number" class="form-control" id="mensPar" [(ngModel)]="hole.mensPar" min="1" max="7" />
            </div>
            <div class="form-group col-md-6">
              <label for="mensHandicap">Men's Handicap</label>
              <input type="number" class="form-control" id="mensHandicap" [(ngModel)]="hole.mensHandicap" min="1" max="18" />
            </div>
          </div>

          <!-- women's -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="womensPar">Women's Par</label>
              <input type="number" class="form-control" id="womensPar" [(ngModel)]="hole.womensPar" min="1" max="7" />
            </div>
            <div class="form-group col-md-6">
              <label for="womensHandicap">Women's Handicap</label>
              <input type="number" class="form-control" id="womensHandicap" [(ngModel)]="hole.womensHandicap" min="1" max="18" />
            </div>


          </div>
          <!-- tees -->
          <div *ngFor="let holeTee of hole.holeTees" class="form-group">
            <label for="length">{{holeTee.teeTypeId}} Distance</label>
            <input type="number" class="form-control" id="length" [(ngModel)]="holeTee.length" min="1" max="2000" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="tab-pane show active" id="map" role="tabpanel" aria-labelledby="map-tab">
      <agm-map [mapTypeId]="'satellite'" [latitude]="51.673858" [longitude]="7.815982">
          <agm-marker
          *ngFor="let m of markers; let i = index"
          [latitude]="m.latitude"
          [longitude]="m.longitude"
          [label]="m.label"
          [iconUrl]="m.iconUrl"
          [markerDraggable]="m.draggable">
          </agm-marker>
      </agm-map>
  </div>
</div>




<!-- <sebm-google-map 
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">

<sebm-google-map-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">
    
  <sebm-google-map-info-window>
    <strong>InfoWindow content</strong>
  </sebm-google-map-info-window>
  
</sebm-google-map-marker>

<sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true">
</sebm-google-map-circle>

</sebm-google-map> -->